<div id="<%= dom_id companyemployee %>">
  <p>
    <strong>Name:</strong>
    <%= companyemployee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= companyemployee.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= companyemployee.phonenumber %>
  </p>

  <p>
    <strong>Companydevice:</strong>
    <%= companyemployee.companydevice_id %>
  </p>

  <p>
    <strong>Companyadmin:</strong>
    <%= companyemployee.companyadmin_id %>
  </p>

</div>
