<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= employee.phonenumber %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= employee.device_id %>
  </p>

</div>
