<p style="color: green"><%= notice %></p>

<%= render @companyadmin %>

<div>
  <%= link_to "Edit this companyadmin", edit_companyadmin_path(@companyadmin) %> |
  <%= link_to "Back to companyadmins", companyadmins_path %>

  <%= button_to "Destroy this companyadmin", @companyadmin, method: :delete %>


</div>
<br>
<%= link_to "Back to companyemployees", companyemployees_path %>
<br> </br>
  <%= link_to "Back to devices", devices_path %>

<br> </br>
<%= link_to "New companyemployee", new_companyemployee_path %> <br> </br>
<%= link_to "New device", new_device_path %>
  <%# <%= link_to "Show this companyemployee", companyemployee %>
<%#
  <%= link_to "Edit this companyemployee", edit_companyemployee_path(@companyemployee) %>
  <%# <%= link_to "Back to companyemployees", companyemployees_path %>

  <%# <%= button_to "Destroy this companyemployee", @companyemployee, method: :delete %>
<%# <%= link_to "Show this companyemployee", companyemployee %>
