<div id="<%= dom_id device %>">
  <p>
    <strong>Device name:</strong>
    <%= device.device_name %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= device.device_type %>
  </p>

  <p>
    <strong>Os type:</strong>
    <%= device.os_type %>
  </p>

  <p>
    <strong>Service tag:</strong>
    <%= device.service_tag %>
  </p>

</div>
