<div id="<%= dom_id companydevice %>">
  <p>
    <strong>Devicename:</strong>
    <%= companydevice.devicename %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= companydevice.device_type %>
  </p>

  <p>
    <strong>Os type:</strong>
    <%= companydevice.os_type %>
  </p>

  <p>
    <strong>Service tag:</strong>
    <%= companydevice.service_tag %>
  </p>

  <p>
    <strong>Companyemployee:</strong>
    <%= companydevice.companyemployee_id %>
  </p>

</div>
